
*.st
elastic24/esdata/elasticsearch/nodes/0/indices/.kibana/0/index/_1.cfe
*.cfs
*.si
*.cfe
*.liv
elastic24/esdata/elasticsearch/nodes/0/indices/.kibana/0/index/segments_i
elastic24/esdata/elasticsearch/nodes/0/indices/.kibana/0/index/write.lock
*.tlog
*.ckp
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.23/0/index/segments_2
*.lock
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.23/1/index/segments_3
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.23/2/index/segments_2
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.23/3/index/segments_3
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.23/4/index/segments_2
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.24/0/index/segments_2
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.24/1/index/segments_3
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.24/2/index/segments_3
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.24/3/index/segments_3
elastic24/esdata/elasticsearch/nodes/0/indices/logstash-2017.11.24/4/index/segments_5
